.git
.gitignore
.env
**/.env
**/.env.*
backend/venv
backend/db.sqlite3
backend/*.sqlite3*
backend/media
backend/logs
backend/staticfiles
backend/__pycache__
backend/**/*.py[cod]
backend/**/*.log
frontend/node_modules
frontend/dist
__pycache__
*.pyc
